<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理者用ページ - TOKYO BEAR MAP</title>
<!-- ページネーションのデザイン -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/destyle.css@3.0.2/destyle.min.css">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<!-- ヘッダーの呼び出し -->
	<div th:replace="parts/parts :: header"></div>

	<!-- 操作に応じたメッセージを表示:start -->
	<div class="container mt-3">
		<div th:if="${statusMessage}" class="alert alert-success mt-4">[[${statusMessage}]]</div>
	</div>
	<!-- 操作に応じたメッセージを表示:end -->
	
	<div class="container mt-3">
	<div class="d-flex bd-highlight mb-3">
		
			<a class="btn btn-primary p-2 bd-highlight" th:href="@{/admins/add}">データの追加</a>
			<a class="btn btn-primary ml-2 p-2 disabled" href="" >CSV出力</a>
			<a class="btn btn-secondary ml-auto p-2 bd-highlight" th:href="@{/logout}">ログアウト</a>
		
	</div>
	</div>


	<div class="container">
		<table class="table">
			<thead class="thead-dark">
				<tr class="bg-light text-center text-nowrap">
					<th>ID</th>
					<th>日付</th>
					<th>時間</th>
					<th>場所</th>
					<th>成獣</th>
					<th>幼獣</th>
					<th>不明</th>
					<th>合計</th>
					<th>目撃等</th>
					<th colspan="2">操作</th>
				</tr>
			</thead>
			<tr class="align-middle text-center" th:each="bear : ${bears}">
				<td>[[${bear.id}]]</td>
				<td th:text="${#dates.format(bear.date, 'yyyy-MM-dd')}" class="text-nowrap"></td>
				<td>[[${bear.time}]]</td>
				<td>[[${bear.address}]]</td>
				<td>[[${bear.adult}]]</td>
				<td>[[${bear.child}]]</td>
				<td>[[${bear.unknown}]]</td>
				<td>[[${bear.total}]]</td>
				<td>[[${bear.typeName}]]</td>
				<td><a class="btn btn-outline-primary text-nowrap"
					th:href="@{/admins/edit/{id}(id=${bear.id})} + @{/{page}(page=${page})}">編集 </a></td>
				<td><a class="btn btn-outline-danger delete text-nowrap"
					th:href="@{/admins/delete/{id}(id=${bear.id})} + @{/{page}(page=${page})}" data-toggle="modal"
					data-target="#confirm-modal" th:data-name="${bear.id}">削除</a></td>
			</tr>
		</table>
	</div>

	<!-- 2 ページ以上の場合、ページネーションを表示:start -->
	<div class="pager">
		<div th:if="${totalPages >= 2}" class="container">

			<div class="d-flex justify-content-center mb-4">
				<ul class="Pagination">
					<!-- 最初のページへ -->
					<th:block th:switch="${page}">
						<li th:case="1" class="Pagination-Item"><a
							class="Pagination-Item-Link" href="">&laquo;</a></li>
						<li th:case="*" class="Pagination-Item"><a
							class="Pagination-Item-Link"
							th:href="@{/admins/index/(page=${1})}">&laquo;</a></li>
					</th:block>

					<!-- 前のページへ -->
					<th:block th:switch="${page}">
						<li th:case="1" class="Pagination-Item disabled"><a
							class="Pagination-Item-Link" href="">&lt;</a></li>
						<li th:case="*" class="Pagination-Item"><a
							class="Pagination-Item-Link"
							th:href="@{/admins/index/(page=${page -1})}">&lt;</a></li>
					</th:block>

					<!-- ページ番号 -->
					<th:block th:each="index : ${#numbers.sequence(start, end)}">
						<th:block th:switch="${index}">
							<li th:case="${page}" class="Pagination-Item active"><a
								class="Pagination-Item-Link  isActive" href="">[[${index}]]</a></li>
							<li th:case="*" class="Pagination-Item"><a
								class="Pagination-Item-Link"
								th:href="@{/admins/index/(page=${index})}">[[${index}]]</a></li>
						</th:block>
					</th:block>

					<!-- 次のページへ -->
					<th:block th:switch="${page}">
						<li th:case="${totalPages}" class="Pagination-Item disabled"><a
							class="Pagination-Item-Link" href="">&gt;</a></li>
						<li th:case="*" class="Pagination-Item"><a
							class="Pagination-Item-Link"
							th:href="@{/admins/index/(page=${page + 1})}">&gt;</a></li>
					</th:block>

					<!-- 最後のページへ -->
					<th:block th:switch="${page}">
						<li th:case="${totalPages}" class="Pagination-Item disabled"><a
							class="Pagination-Item-Link" href="">&raquo;</a></li>
						<li th:case="*" class="Pagination-Item"><a
							class="Pagination-Item-Link"
							th:href="@{/admins/index/(page=${totalPages})}">&raquo;</a></li>
					</th:block>
				</ul>
			</div>
		</div>
	</div>
	<!-- 2 ページ以上の場合、ページネーションを表示:end -->

	<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
	<script>
		$(".delete").click(function() {
			$("#delete-name").text($(this).attr("data-name"));
			$("#delete-yes").attr("href", $(this).attr("href"));
		});
	</script>

</body>
</html>