<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Insert title here</title>
</head>
<body>

	<header th:fragment="header">
		<div class="dark container-fluid">
			<div class="text-center">
				<h1 class="logo">TokyoBearMap</h1>
			</div>
		</div>
	</header>

	<div th:fragment="adminsNavbar">
	
		<nav class="navbar navbar-dark bg-dark container-fluid">
		<h2 class="logo">TokyoBearMap</h2>
				<a class="btn btn-secondary  bd-highlight" th:href="@{/logout}">ログアウト</a>
		</nav>
	
</div>
</body>
</html>